:root {
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --contacts-header-color: #757575;
  --body-background-color: #ffffff;
  --main-text-color: #212121;
  --figure-border-color: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--body-background-color);
}
.container {
  width: 1200px;
  margin: auto;
}
.navigation-menu {
  display: flex;
  justify-content: space-between;
  width: 254px;
}
.navigation-name {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
}
.navigation h2 {
  font-size: 26px;
}
.navigation {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.navigation-logo {
  color: #000000;
}
.navigation-footer a {
  text-decoration: none;
  color: #ffffff;
}
.navigation-footer-header {
  color: #ffffff;
}

.navigation a:focus,
.navigation a:hover,
.navigation-footer a:focus,
.navigation-footer a:hover {
  color: var(--accent-color);
}
.main-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider {
  background-color: var(--background-color);
}
.main-header {
  width: 100%;
  height: 600px;
}
.main-header-content {
  text-align: center;
  padding-top: 200px;
}
.main-header-text {
  font-family: "Roboto";
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  margin: auto;
  text-align: center;

  text-transform: uppercase;

  color: #ffffff;
}
.main-header-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-family: "Roboto";
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;

  color: #ffffff;
  text-align: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
}

.main-list {
  list-style: none;
  list-style-position: inside;
  padding: 0;
}

.main-list li {
  display: inline;
}
.main-list-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.main-list h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
}
.main-list p {
  font-size: 16px;
  color: var(--contacts-header-color);
  line-height: 1.71;
}
.main-list:first-child {
  margin-right: 15px;
}
.main-list:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}
.main-list:last-child {
  margin-left: 15px;
}
.navigation-footer {
  width: 100%;
  height: 252px;
  background-color: var(--background-color);
}
.contact-links a {
  font-size: 14px;

  color: var(--contacts-color);
}
.contact-links-header a {
  font-size: 14px;
  line-height: 24px;

  color: var(--contacts-header-color);
}
.navigation-footer address {
  color: #ffffff;
  font-size: 14px;
}
.filters {
  display: flex;
  justify-content: center;
}
.filters li {
  list-style-type: none;
  display: inline;
}
.filters button {
  height: 38px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  text-align: center;

  margin: 0 4px;
}
.filters button:focus,
.filters button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}
.product-card {
  width: 370px;
  height: 404px;
  margin: 15px;
}
.product-card p {
  margin: 0;
  padding-left: 24px;
}
.product-card figcaption {
  border-bottom: 1px solid var(--figure-border-color);
  border-left: 1px solid var(--figure-border-color);
  border-right: 1px solid var(--figure-border-color);
}
.product-card img {
  width: 370px;
  height: 294px;
  display: block;
}
.product-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--main-text-color);
  padding-top: 20px;
}
.product-description {
  font-size: 16px;
  padding-top: 4px;
  color: var(--contacts-header-color);
  padding-bottom: 20px;
}
.team figure {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}
.team figure:first-of-type {
  margin-left: 0;
}
.team figure:last-of-type {
  margin-right: 0;
}
.team-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-card {
  border: 1px solid #eeeeee;
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card img {
  width: 270px;
  height: 260px;
}
.team-card-title {
  font-weight: 500;
  font-size: 16px;

  color: var(--main-text-color);
  text-align: center;
}
.team-card-description {
  font-size: 16px;
  color: var(--contacts-header-color);
  text-align: center;
}

.feature {
  width: 270px;

  text-align: left;
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.feature-content {
  font-size: 14px;
  line-height: 1.71;
  height: fit-content;
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.slider {
  background-color: var(--background-color);
}
