:root {
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --contacts-header-color: #757575;
  --body-background-color: #ffffff;
  --main-text-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--body-background-color);
}
.navigation-menu {
  font-style: medium;
}
.navigation-name {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.navigation h2 {
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.navigation {
  width: 1600px;
  height: 80px;
}
.navigation a {
  text-decoration: none;
  color: #000000;
}
.navigation-footer a {
  text-decoration: none;
  color: #ffffff;
}

.navigation a:focus,
.navigation a:hover,
.navigation-footer a:focus,
.navigation-footer a:hover {
  color: var(--accent-color);
}
.main-header {
  background-color: var(--background-color);
  width: 1600px;
  height: 600px;
}
.main-header-content {
  text-align: center;
}
.main-header-text {
  font-family: "Roboto";

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.main-header-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-family: "Roboto";

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.navigation-footer {
  width: 1600px;
  height: 252px;
  background-color: var(--background-color);
}
.contact-links a {
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--contacts-color);
}
.contact-links-header a {
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--contacts-header-color);
}
.navigation-footer address {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
}
.filters {
  list-style-type: none;
}
.filters button {
  color: #000000;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filters button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}
.product-card {
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
}
.product-card img {
  width: 370px;
  height: 294px;
  object-fit: cover;
}
.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;

  color: var(--main-text-color);
}
.product-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--contacts-header-color);
}
