.navigation {
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.navigation-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 254px;
}
.navigation-menu-link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.navigation-menu-link:hover, .navigation-menu-link:focus {
  color: #2196f3;
}
.navigation-name {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
}
.navigation-logo {
  color: #000000;
  margin-right: 93px;
  font-size: 26px;
  margin-top: 24px;
}
.navigation-contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding-left: 345px;
  gap: 30px;
}
.navigation-contact-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  fill: #757575;
}
.navigation-contact-link:hover, .navigation-contact-link:focus {
  color: #2196f3;
  fill: #2196f3;
}
.navigation-contact-link svg {
  margin-right: 10px;
}
.navigation a {
  text-decoration: none;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-navbar-left-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider {
  background: #2f303a url("./images/slideroverlay.jpg") no-repeat center;
  position: relative;
}
.slider:after {
  content: "";
  background: rgba(47, 48, 58, 0.4);
  top: 0;
  left: 0;
}
.slider > * {
  position: relative;
  z-index: 10;
}

.main-header {
  height: 600px;
}
.main-header-content {
  text-align: center;
  z-index: 10;
}
.main-header-text {
  font-family: "Roboto";
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  margin: auto;
  text-align: center;
  padding-top: 200px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 10;
}
.main-header-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  font-family: "Roboto";
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  z-index: 10;
}

.features-list {
  display: flex;
  padding-top: 94px;
  width: 100%;
  gap: 30px;
}

.feature {
  display: block;
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.feature-content {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}

.whatwedo-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.whatwedo ul {
  display: flex;
  gap: 30px;
}

.whatwedo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.whatwedo-list p {
  font-size: 16px;
  color: #757575;
  line-height: 1.71;
}

.team {
  background: #f5f4fa;
}
.team-cards {
  display: flex;
  gap: 30px;
}
.team figure {
  display: inline-block;
  margin: 0;
  border: none;
}
.team figure figcaption {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-card {
  border: 1px solid #eeeeee;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-card-social-list {
  list-style: none;
  margin: 0;
  padding: 0 32px;
  width: 100%;
}
.team-card-social-list-element {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.team-card-social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  gap: 10px;
}
.team-card-social-icon:hover, .team-card-social-icon:focus {
  border-radius: 50%;
  background: #2196f3;
  fill: #ffffff;
}
.team-card img {
  height: 260px;
  max-width: 100%;
}
.team-card-title {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  text-align: center;
}
.team-card-description {
  font-size: 16px;
  color: #757575;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 15px;
}

.footer {
  width: 100%;
  height: 252px;
  background-color: #2f303a;
}
.footer-left {
  display: flex;
  flex-direction: row;
}
.footer a {
  text-decoration: none;
}
.footer-header {
  color: #ffffff;
  margin: 0;
  padding-bottom: 20px;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.192;
}
.footer a:focus,
.footer a:hover {
  color: #2196f3;
}
.footer-content {
  padding-top: 60px;
}
.footer address {
  color: #ffffff;
  font-size: 14px;
}
.footer-social {
  margin-left: 70px;
}
.footer-social-title {
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding-top: 72px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-social-list {
  list-style: none;
  margin: 0;
  padding-top: 20px;
  width: 100%;
}
.footer-social-list-element {
  display: inline-flex;
}
.footer-social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  width: 44px;
  height: 44px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-social-icon:hover, .footer-social-icon:focus {
  border-radius: 50%;
  background: #2196f3;
}

.contact-links a {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.clients-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.clients ul {
  display: flex;
  gap: 30px;
}

.clients-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.clients-list-icon {
  width: 170px;
  height: 92px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}
.clients-list-icon:hover, .clients-list-icon:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.filters li {
  list-style-type: none;
  display: inline;
}
.filters button {
  height: 38px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  text-align: center;
  margin: 0 4px;
  padding: 6px 22px 6px 22px;
}
.filters button:focus, .filters button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-title {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  padding-top: 20px;
  line-height: 2;
}
.product-description {
  font-size: 16px;
  padding-top: 4px;
  color: #757575;
  padding-bottom: 20px;
  line-height: 1.87;
}
.product-card {
  width: 370px;
  height: 404px;
  margin: 15px;
}
.product-card:focus, .product-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-card p {
  margin: 0;
  padding-left: 24px;
}
.product-card figcaption {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.product-card img {
  width: 370px;
  height: 294px;
  display: block;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-cards ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio-cards figure {
  margin: 0;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  background-color: #ffffff;
  box-sizing: border-box;
}

ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

address {
  font-style: normal;
}/*# sourceMappingURL=main.css.map */