@import "utils/vars";
@import "components/navigation";
@import "components/slider";
@import "components/features";
@import "components/whatwedo";
@import "components/team";
@import "components/footer";
@import "components/clients";
@import "components/filters";
@import "components/portfolio";
@import "components/modal";
@import "components/forms";
@import "components/_mobile-menu";

body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: $main-text-color;
    background-color: $body-background-color;
    box-sizing: border-box;
}

ul,
p {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

address {
    font-style: normal;
}

@media only screen and (min-width:768px) and (max-width:1199px) {
    .section {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 60px;
    }
}

@media only screen and (max-width:767px) {
    .section {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 60px;
    }
}