.navigation {
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.navigation-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 254px;
}
.navigation-name {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
}
.navigation-logo {
  color: #000000;
  margin-right: 93px;
}
.navigation h2 {
  font-size: 26px;
}
.navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.navigation a:focus, .navigation a:hover {
  color: #2196f3;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-navbar-left-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-links-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-left: 371px;
}
.contact-links-header li:not(:last-child) {
  margin-right: 50px;
}
.contact-links-header a {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.slider {
  background-color: #2f303a;
}

.main-header {
  height: 600px;
}
.main-header-content {
  text-align: center;
  padding-top: 200px;
}
.main-header-text {
  font-family: "Roboto";
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.main-header-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  font-family: "Roboto";
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
}

.features-list {
  display: flex;
  padding-top: 94px;
  width: 100%;
}

.feature {
  display: block;
  letter-spacing: 0.03em;
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.feature-content {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.feature li:not(:last-child) {
  margin-right: 30px;
}

.whatwedo-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.whatwedo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.whatwedo-list li {
  display: inline-block;
}
.whatwedo-list li:not(:last-child) {
  margin-right: 30px;
}
.whatwedo-list p {
  font-size: 16px;
  color: #757575;
  line-height: 1.71;
}

.team figure {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}
.team figure:first-of-type {
  margin-left: 0;
}
.team figure:last-of-type {
  margin-right: 0;
}
.team-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-card {
  border: 1px solid #eeeeee;
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card img {
  width: 270px;
  height: 260px;
}
.team-card-title {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  text-align: center;
}
.team-card-description {
  font-size: 16px;
  color: #757575;
  text-align: center;
}

.footer {
  width: 100%;
  height: 252px;
  background-color: #2f303a;
}
.footer a {
  text-decoration: none;
}
.footer-header {
  color: #ffffff;
}
.footer a:focus,
.footer a:hover {
  color: #2196f3;
}
.footer-content {
  padding-top: 60px;
}
.footer address {
  color: #ffffff;
  font-size: 14px;
}

.contact-links a {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 56px;
}
.filters li {
  list-style-type: none;
  display: inline;
}
.filters button {
  height: 38px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  text-align: center;
  margin: 0 4px;
  padding: 6px 22px 6px 22px;
}
.filters button:focus, .filters button:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.product-title {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  padding-top: 20px;
}
.product-description {
  font-size: 16px;
  padding-top: 4px;
  color: #757575;
  padding-bottom: 20px;
}
.product-card {
  width: 370px;
  height: 404px;
  margin: 15px;
}
.product-card p {
  margin: 0;
  padding-left: 24px;
}
.product-card figcaption {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.product-card img {
  width: 370px;
  height: 294px;
  display: block;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  background-color: #ffffff;
  box-sizing: border-box;
}

ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin: auto;
}/*# sourceMappingURL=main.css.map */