@import "utils/vars";
@import "components/navigation";
@import "components/slider";
@import "components/features";
@import "components/whatwedo";
@import "components/team";
@import "components/footer";

@import "components/filters";
@import "components/portfolio";

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $main-text-color;
  background-color: $body-background-color;
  box-sizing: border-box;
}
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.container {
  width: 1200px;
  margin: auto;
}
address {
  font-style: normal;
}
