.clients {
    padding-bottom: 94px;
    padding-top: 94px;

    &__title {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;
    }



    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 30px;
    }

    &__link {
        min-width: 170px;
        height: 92px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: $icons-fill-color;
        border-radius: 4px;
        border: 1px solid $icons-fill-color;

        &:hover,
        &:focus {
            fill: $accent-color;
            border: 1px solid $accent-color;
            transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
        }
    }

    &__icon {
        width: 106px;
        height: 60px;

    }
}

@media only screen and (max-width:767px) {
    .clients {
        padding-bottom: 60px;
        padding-top: 0;

        &__title {
            margin-top: 60px;
            margin-bottom: 30px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        &__item {

            flex-basis: calc((100% - 30px) / 2);
        }

        &__link {
            width: 100%;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:1199px) {
    .clients {
        padding-bottom: 60px;
        padding-top: 0;

        &__title {
            margin-top: 60px;
            margin-bottom: 30px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        &__item {

            flex-basis: calc((100% - 60px) / 3);
        }

        &__link {
            width: 100%;
        }
    }
}