.clients {
    &-title {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;
    }
    ul {
        display: flex;
        gap: 30px;
    }
}
.clients-list {
    list-style: none;
    padding: 0;
    margin: 0;
    &-icon {
        width: 170px;
        height: 92px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: $icons-fill-color;
        border-radius: 4px;
        border: 1px solid $icons-fill-color;

        &:hover,
        &:focus {
            fill: $accent-color;
            border: 1px solid $accent-color;
        }
    }
}
