.features {
    padding-bottom: 94px;
    padding-top: 94px;

    &__list {
        display: flex;

        gap: 30px;
    }

    &__background {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 100px;
        background-color: $icon-background;
    }

    &__client {
        display: block;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        margin-bottom: 10px;
    }

    &__content {
        font-size: 14px;
        line-height: 1.71;
        color: $contacts-header-color;
        letter-spacing: 0.03em;
    }


}

@media only screen and (max-width:767px) {
    .features {
        padding-top: 60px;
        padding-bottom: 60px;

        &__list {
            display: flex;
            flex-direction: column;
            padding-top: 0;
        }

        &__background {
            height: 120px;
            display: flex;

            padding: 25px 100px;


        }

        &__icon {
            display: flex;
            justify-content: center;
        }

        &__title {
            text-align: center;
        }

        &__content {
            text-align: center;
        }

    }
}

@media only screen and (min-width:768px) and (max-width:1199px) {
    .features {
        padding-top: 60px;
        padding-bottom: 45px;

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            padding-top: 0;

        }




        &__client {
            flex-basis: calc((100% - 30px) / 2);
        }

        &__background {
            height: 120px;
            display: flex;
            justify-content: center;
            padding: 25px 100;


        }


    }
}