.footer {
    width: 100%;
    min-height: 252px;
    background-color: $background-color;

    &__row {
        display: flex;
        flex-direction: row;
    }

    &__left {
        display: flex;
        flex-direction: row;
    }

    &__header {
        color: $alternative-text-color;
        margin: 0;
        padding-bottom: 20px;
        font-family: "Raleway";
        font-size: 26px;
        line-height: 1.192;

    }

    &__logo {
        text-decoration: none;
    }

    &__links {
        a {
            display: block;
            font-size: 14px;
            color: $contacts-color;
            margin-top: 9px;
            text-decoration: none;
        }
    }

    a:focus,
    a:hover {
        color: $accent-color;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }

    &__content {
        padding-top: 60px;
    }

    &__address {
        color: $alternative-text-color;
        font-size: 14px;
    }
}

.social-footer {
    margin-left: 70px;

    &__title {
        color: $alternative-text-color;
        text-transform: uppercase;
        margin: 0;
        padding-top: 72px;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__links {
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding-top: 20px;
        gap: 10px;
        width: 100%;


    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: $alternative-text-color;
        width: 44px;
        height: 44px;

        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;

        &:hover,
        &:focus {
            border-radius: 50%;
            background: $accent-color;
            transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
    }
}


@media only screen and (min-width:768px) and (max-width:1199px) {
    .footer {
        &__row {
            flex-direction: column;
            justify-content: center;

        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__address {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__left {
            justify-content: center;
        }

        &__right {
            display: flex;
            justify-content: center;
        }
    }

    .social-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width:767px) {


    .footer {
        min-width: 100%;

        &__row {
            flex-direction: column;
            justify-content: center;

        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__address {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__left {
            flex-direction: column;
            justify-content: center;
        }

        &__right {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    .social-footer {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;


        &__links {
            justify-content: center;

        }

    }
}