.footer {
    width: 100%;
    height: 252px;
    background-color: $background-color;
    &-left {
        display: flex;
        flex-direction: row;
    }

    a {
        text-decoration: none;
    }
    &-header {
        color: $alternative-text-color;
        margin: 0;
        padding-bottom: 20px;
        font-family: "Raleway";
        font-size: 26px;
        line-height: 1.192;
    }

    a:focus,
    a:hover {
        color: $accent-color;
    }

    &-content {
        padding-top: 60px;
    }
    address {
        color: $alternative-text-color;
        font-size: 14px;
    }
    &-social {
        margin-left: 70px;

        &-title {
            color: $alternative-text-color;
            text-transform: uppercase;
            margin: 0;
            padding-top: 72px;
            font-family: "Roboto";
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
        &-list {
            list-style: none;
            margin: 0;
            padding-top: 20px;

            width: 100%;
            &-element {
                display: inline-flex;
            }
        }
        &-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            fill: $alternative-text-color;
            width: 44px;
            height: 44px;
            gap: 10px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            &:hover,
            &:focus {
                border-radius: 50%;
                background: $accent-color;
            }
        }
    }
}
.contact-links {
    a {
        display: block;
        font-size: 14px;
        color: $contacts-color;
        margin-top: 9px;
    }
}
