.form-order {
    padding-left: 40px;
    padding-right: 40px;
    label {
        position: relative;

        &:hover,
        &:active,
        &:focus,
        &:focus-within {
            border-color: $accent-color;
            fill: $accent-color;
        }
    }
    label > span {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $contacts-header-color;
    }
    .icon {
        display: block;
    }
    label > .icon {
        position: absolute;
        top: 50%;
        left: 10px;
    }

    &-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }
    &-input {
        width: 448px;
        height: 40px;
        text-indent: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-top: 4px;
        margin-bottom: 10px;
        outline: none;
        &:hover,
        &:active,
        &:focus {
            border-color: $accent-color;

            fill: $accent-color;
        }
    }
    &-title {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $main-text-color;
        margin-bottom: 12px;
        margin-top: 40px;
    }
    &-button {
        width: 200px;
        height: 50px;
        background-color: $accent-color;
        font-family: "Roboto";
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        color: $alternative-text-color;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        margin-left: 124px;
        margin-top: 30px;
    }
    &-checkbox {
        position: relative;
        margin: auto;
        &-input {
            position: absolute;
            top: 3px;
            left: -25px;
            width: 16px;
            height: 16px;
            opacity: 1;
            cursor: pointer;
            z-index: 1;
        }
    }
}

#order-comment {
    width: 448px;
    height: 120px;
    text-indent: 0px;
    resize: none;
    margin-bottom: 20px;
}
.form-order-checkbox input:checked ~ .icon-check {
    display: block;
}

.icon-check {
    display: none;
    position: absolute;
    z-index: 10;
    height: 16px;
    width: 16px;
    z-index: 5;
    top: 3px;
    left: -25px;
}
#form-order-policies {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
}

// Footer Newsletter form

.form-newsletter {
    padding-left: 70px;
    padding-top: 70px;
    form {
        position: relative;
        display: inline-flex;
        gap: 24px;
    }
    &-email {
        width: 358px;
        height: 50px;
        padding-left: 22px;
        background-color: #2f303a;
        color: $alternative-text-color;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        transition: transform 250ms ease-in, box-shadow 250ms ease-in;
        &::placeholder {
            color: $contacts-color;
        }

        &:focus {
            outline: none;
            border: 2px solid;
            border-color: $accent-color;
        }
    }
    &-header {
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $alternative-text-color;
        padding-bottom: 20px;
    }
    &-button {
        display: flex;
        width: 200px;
        height: 50px;
        background-color: $accent-color;
        font-family: "Roboto";
        cursor: pointer;
        justify-content: space-around;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        color: $alternative-text-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        padding: 0;
    }
}
.icon-send {
    position: absolute;
    width: 24px;
    height: 24px;

    right: 0;
    top: 15px;
    margin-right: 28px;
   
}
