.order {
    padding-left: 40px;
    padding-right: 40px;

    &__icon {
        width: 18px;
        height: 18px;
    }

    &__label {
        position: relative;

        &:hover,
        &:active,
        &:focus,
        &:focus-within {
            border-color: $accent-color;
            fill: $accent-color;
        }
    }

    &__label>.label__title {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $contacts-header-color;
    }

    &__label>.input__icon {
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        top: 34px;
        left: 10px;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__input {
        width: 448px;
        height: 40px;
        text-indent: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-top: 4px;
        margin-bottom: 10px;
        outline: none;

        &:hover,
        &:active,
        &:focus {
            border-color: $accent-color;

            fill: $accent-color;
        }
    }

    &__title {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $main-text-color;
        margin-bottom: 12px;
        margin-top: 40px;
    }

    &__button {
        width: 200px;
        height: 50px;
        background-color: $accent-color;
        font-family: "Roboto";
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        color: $alternative-text-color;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        margin: 30px auto 40px;
    }

}

.checkbox {
    position: relative;
    margin-left: 40px;

    &__input {
        position: absolute;
        top: 3px;
        left: -25px;
        width: 16px;
        height: 16px;
        opacity: 1;
        cursor: pointer;
        z-index: 1;
    }
}


#order__comment {
    width: 448px;
    height: 120px;
    text-indent: 0px;
    resize: none;

}

.order__checkbox input:checked~.icon-check {
    display: block;
}

.check-icon {
    display: none;
    position: absolute;
    z-index: 10;
    height: 16px;
    width: 16px;
    z-index: 5;
    top: 3px;
    left: -25px;
}

#order__policies {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
}

// Footer Newsletter form

.newsletter {
    padding-left: 70px;
    padding-top: 70px;


    &__form {
        position: relative;
        display: inline-flex;
        gap: 24px;
    }

    &__email {
        width: 358px;
        height: 50px;
        padding-left: 22px;
        background-color: #2f303a;
        color: $alternative-text-color;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        transition: transform 250ms ease-in, box-shadow 250ms ease-in;

        &::placeholder {
            color: $contacts-color;
        }

        &:focus {
            outline: none;
            border: 2px solid;
            border-color: $accent-color;
        }
    }

    &__header {
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $alternative-text-color;
        padding-bottom: 20px;
    }

    &__button {
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 50px;
        background-color: $accent-color;
        font-family: "Roboto";
        cursor: pointer;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        color: $alternative-text-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        padding: 0;
    }


    &__icon {
        width: 24px;
        height: 24px;
        margin-left: 24px;

    }
}

@media only screen and (min-width:768px) and (max-width:1199px) {
    .newsletter {
        display: flex;
        padding: 0;
        margin: 60px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        &__email {
            max-width: 450px;
        }

        &__icon {
            right: 80px;
            top: 90px;
        }
    }

    .order {
        &__input {
            width: 370px;
        }
    }

    #order__comment {
        width: 370px;
    }

    #order__policies {
        font-size: 12px;
        line-height: 1.16;
        width: 346px;

    }

    .checkbox {
        max-width: 370px;

        &__input {
            top: 0;
        }
    }
}

@media only screen and (max-width:767px) {
    .newsletter {
        display: flex;
        padding: 0;
        margin: 60px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;


        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100%;
        }

        &__email {
            max-width: 100%;

        }

        &__icon {
            right: 60px;
            top: 90px;
        }
    }

    .order {
        max-width: 100%;

        &__input {
            max-width: 100%;

        }

        &__container {
            max-width: 370px;
        }
    }

    #order__comment {
        width: 370px;
    }

    #order__policies {
        font-size: 12px;
        line-height: 1.16;
        max-width: 346px;


    }

    .checkbox {
        max-width: 370px;

        &__input {
            top: 0;
        }


    }
}