.form-order {
    max-width: 400px;
    margin: auto;
    &-container {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    &-input {
        width: 100%;
        padding: 10px;

        background-repeat: no-repeat;
        background-position: 15px 10px;
        text-indent: 20px;
    }
    &-title {
        font-family: "Roboto";

        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;

        color: $main-text-color;
    }
    &-button {
        position: absolute;
        width: 200px;
        height: 50px;
        background-color: $accent-color;
        font-family: "Roboto";
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        color: $alternative-text-color;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        margin-top: 30px;
        z-index: 10;
    }
}
#order-name {
    background-image: url(/images/ikonki/person-black.svg);
}
#order-phone {
    background-image: url(/images/ikonki/phone-black.svg);
}
#order-email {
    background-image: url(/images/ikonki/email-black.svg);
}
#order-comment {
    min-height: 120px;
    text-indent: 0px;
}
#order-checkbox {
    
    background-image: url(/images/ikonki/checkbox-form.svg);
    font-size: 14px;
    line-height: 1.71;
    z-index: 5;
    fill: $main-text-color;
    
    
}
.icon-checkbox-form {
    z-index: 10;
}
