.navigation {
    height: 80px;
    border-bottom: 1px solid $navigation-bottom-border;

    &-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 254px;
        &-link {
            text-decoration: none;
            color: $black-text-color;
            font-weight: 500;
            letter-spacing: 0.02em;
            &:hover,
            &:focus {
                color: $accent-color;
            }
        }
    }

    &-name {
        font-family: "Raleway", sans-serif;
        color: $accent-color;
        font-weight: 700;
        font-size: 26px;
    }
    &-logo {
        color: $black-text-color;
        margin-right: 93px;
        font-size: 26px;
        margin-top: 24px;
    }
    &-contact {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        padding-left: 345px;
        gap: 30px;

        &-link {
            display: flex;
            align-items: center;
            font-size: 14px;
            letter-spacing: 0.02em;
            color: $contacts-header-color;
            fill: $contacts-header-color;
            &:hover,
            &:focus {
                color: $accent-color;
                fill: $accent-color;
            }
            svg {
                margin-right: 10px;
            }
        }
    }

    a {
        text-decoration: none;
    }
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
