.product {
  &-title {
    font-weight: 700;
    font-size: 18px;
    color: $main-text-color;
    padding-top: 20px;
    line-height: 2;
  }
  &-description {
    font-size: 16px;
    padding-top: 4px;
    color: $contacts-header-color;
    padding-bottom: 20px;
    line-height: 1.87;
  }
  &-card {
    width: 370px;
    height: 404px;
    margin: 15px;

    p {
      margin: 0;
      padding-left: 24px;
    }
    figcaption {
      border-bottom: 1px solid $figure-border-color;
      border-left: 1px solid $figure-border-color;
      border-right: 1px solid $figure-border-color;
    }

    img {
      width: 370px;
      height: 294px;
      display: block;
    }
  }
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  figure {
    margin: 0;
  }
}
