.slider {
    position: relative;
    z-index: 3;
    background: $slider-background url(../images/slideroverlay.jpg) no-repeat center;
    background-size: cover;

    &:after {
        content: "";
        background: $slider-overlay;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .slider {

        background: $slider-background url("../images/slideroverlay@2x.jpg") no-repeat center;
        background-size: cover;
    }
}

@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
    .slider {

        background: $slider-background url("../images/slideroverlay@3x.jpg") no-repeat center;
        background-size: cover;
    }
}

.main-header {
    height: 600px;

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    &__text {
        font-family: "Roboto";
        width: 100%;
        font-weight: 900;
        font-size: 44px;
        margin: 0;
        text-align: center;
        padding-top: 200px;
        text-transform: uppercase;
        color: $alternative-text-color;
        z-index: 10;
    }

    &__button {
        width: 200px;
        height: 50px;
        background-color: $accent-color;
        font-family: "Roboto";
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;

        color: $alternative-text-color;
        text-align: center;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        margin-top: 30px;
        z-index: 10;
    }
}



@media only screen and (min-width:768px) and (max-width:1199px) {
    .slider {
        width: 100%;
    }

    .main-header {
        height: 400px;
        justify-content: center;


        &__content {
            justify-content: center;
        }

        &__text {
            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            text-align: center;
            padding-top: 118px;
        }
    }


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .slider {

            background: $slider-background url("../images/mobile-overlay@2x.jpg") no-repeat center;
            background-size: cover;
        }
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        .slider {

            background: $slider-background url("../images/mobile-overlay@3x.jpg") no-repeat center;
            background-size: cover;
        }
    }
}

@media only screen and (max-width:767px) {
    .slider {
        width: 100%;
    }

    .main-header {
        height: 400px;
        justify-content: center;


        &__content {
            justify-content: center;
        }

        &__text {
            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            text-align: center;
            padding-top: 118px;
        }
    }


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .slider {

            background: $slider-background url("../images/mobile-overlay@2x.jpg")no-repeat center;
            background-size: cover;
        }
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        .slider {

            background: $slider-background url("../images/mobile-overlay@3x.jpg")no-repeat center;
            background-size: cover;
        }
    }
}