.slider {
    background: $background-color url("./images/slideroverlay.jpg") no-repeat center;
    position: relative;
    &:after {
        content: "";
        background: rgba(47, 48, 58, 0.4);
        top: 0;
        left: 0;
    }
    & > * {
        position: relative;
        z-index: 10;
    }
}
.main-header {
    height: 600px;

    &-content {
        text-align: center;

        z-index: 10;
    }
    &-text {
        font-family: "Roboto";
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        margin: auto;
        text-align: center;
        padding-top: 200px;
        text-transform: uppercase;
        color: $alternative-text-color;
        z-index: 10;
    }
    &-button {
        width: 200px;
        height: 50px;
        background-color: $accent-color;
        font-family: "Roboto";
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;

        color: $alternative-text-color;
        text-align: center;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        margin-top: 30px;
        z-index: 10;
    }
}
