.team {
    background: $team-background-color;
    &-cards {
        display: flex;
        gap: 30px;
    }
    figure {
        display: inline-block;
        margin: 0;
        border: none;
        figcaption {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    &-title {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;
    }
    &-card {
        border: 1px solid $figure-border-color;
        width: 270px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: $body-background-color;
        &-social {
            &-list {
                margin: 0;
                padding: 0 32px;
                width: 100%;
                &-element {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &-icon {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                fill: $icons-fill-color;
                width: 44px;
                height: 44px;
                gap: 10px;
                &:hover,
                &:focus {
                    border-radius: 50%;
                    background: $accent-color;
                    fill: $alternative-text-color;
                    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
                }
            }
        }

        img {
            height: 260px;
            max-width: 100%;
        }
        &-title {
            font-weight: 500;
            font-size: 16px;

            color: $main-text-color;
            text-align: center;
        }
        &-description {
            font-size: 16px;
            color: $contacts-header-color;
            text-align: center;
            margin-top: 10px;
            padding-bottom: 15px;
        }
    }
}
