.team {
  background: $team-background-color;
  ul {
    display: flex;
    gap: 30px;
  }
  figure {
    display: inline-block;
    margin: 0;
    figcaption {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  &-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  &-card {
    border: 1px solid $figure-border-color;
    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    img {
      height: 260px;
      max-width: 100%;
    }
    &-title {
      font-weight: 500;
      font-size: 16px;

      color: $main-text-color;
      text-align: center;
    }
    &-description {
      font-size: 16px;
      color: $contacts-header-color;
      text-align: center;
      margin-top: 10px;
    }
  }
}
