.team {
    background: $team-background-color;

    &__cards {
        display: flex;
        gap: 30px;
    }

    &__title {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 50px;
    }
}

.card {
    border: 1px solid $figure-border-color;
    width: 270px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $body-background-color;
    display: inline-block;
    margin: 0;
    border: none;

    &__details {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__image {
        height: 260px;
        max-width: 100%;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;

        color: $main-text-color;
        text-align: center;
    }

    &__description {
        font-size: 16px;
        color: $contacts-header-color;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 15px;
    }
}


.social {
    &__link-row {
        margin: 0;
        padding: 0 32px;
        width: 100%;
        gap: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: $icons-fill-color;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;

        &:hover,
        &:focus {
            background: $accent-color;
            fill: $alternative-text-color;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width:767px) {

    .team__cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;

        &__image {
            min-width: 100%;
            height: 100%;
        }
    }

}

@media only screen and (min-width:768px) and (max-width:1199px) {

    .team {
        &__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        &__item {
            flex-basis: calc((100% - 30px) / 2);
        }

    }

    .card {
        width: 100%;

        &__image {
            min-width: 100%;
            height: 100%;
        }
    }
}