.whatwedo {
    &__title {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 50px;
    }

    &__list {

        display: flex;
        justify-content: center;
        gap: 30px;


    }

    &__item {
        position: relative;
        display: inline-block;
    }

    &__label {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 70px;
        background: $whatwedo-label-background;
        color: $whatwedo-label-text;
    }

    &__description {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}