$accent-color: #2196f3;
$background-color: #2f303a;
$contacts-color: rgba(255, 255, 255, 0.6);
$contacts-header-color: #757575;
$body-background-color: #ffffff;
$main-text-color: #212121;
$figure-border-color: #eeeeee;
$team-background-color: #f5f4fa;
$black-text-color: #000000;
$button-background-color: #f5f4fa;
$alternative-text-color: #ffffff;
$navigation-bottom-border: #ececec;
